<div class="flex flex-col justify-center items-center h-full w-full gap-6">
    <app-clickable-component
        [properties]="{type:'anchor',text:'Profile', colorScheme:'stone', anchURL:'/my-profile'}" />
    <app-clickable-component
        [properties]="{type:'anchor',text:'My Adverts', colorScheme:'stone', anchURL:'/my-adverts'}" />
    <app-clickable-component
        [properties]="{type:'anchor',text:'Options', colorScheme:'stone', anchURL:'/my-options'}" />
    <app-clickable-component
        [properties]="{type:'button',text:'Logout', colorScheme:'stone', btnFn:()=>authService.logout()}" />


</div>