<nav class="font-rubik border border-gray-300 h-[100px] bg-white shadow-md flex items-center">
    <ul class="grid grid-cols-12 w-full items-center">
        <li class="col-span-2 flex justify-center items-center overflow-hidden">
            <a routerLink="/home">
                <app-brand />
            </a>
        </li>
        <li class="col-span-8 flex justify-start ps-10 space-x-8 pt-2">
            <span>
                <app-clickable-component [properties]="{type:'anchor',text:'Home', colorScheme:'stone', anchURL:'/'}" />
            </span>
            <span>
                <app-clickable-component
                    [properties]="{type:'anchor',text:'Explore', colorScheme:'stone', anchURL:'/adverts'}" />
            </span>
        </li>
        <li clickOutside (clickedOutside)="closePopUps()"
            class="col-span-2 flex gap-x-2 justify-center items-center relative">

            @if(authService.isAuthenticated()) {
            <span class="mx-6 mt-4 flex items-end">
                <button class="cursor-pointer" type="button" (click)="toggleProfileDropdown()">
                    <div class="size-10 rounded-full border border-gray-400 shadow-xs"></div>
                </button>
            </span>
            }
            @else{
            <app-clickable-component
                [properties]="{type:'button',text:'Login', colorScheme:'stone', btnFn:()=>toggleLoginPopUp()}" />

            <app-clickable-component
                [properties]="{type:'anchor',text:'Register', colorScheme:'stone', anchURL:'/register'}" />
            }


            @if (loginPopUpState() && !authService.isAuthenticated()) {
            <app-popup-wrapper-component title="Login">
                <app-login-popup />
            </app-popup-wrapper-component>
            }

            @if (profileDropdownState() && authService.isAuthenticated()) {
            <app-popup-wrapper-component title="My Profile">
                <app-profile-popup-component />
            </app-popup-wrapper-component>
            }
        </li>
    </ul>
</nav>