.link {
    color: #4b5563;
}

.link:hover,
.auth-link:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
}

.active-link {
    color: #f97316;
}


.auth-link {
    border: #fdba74 1px solid;
    color: #f97316;
    cursor: pointer;
}