<nav class="border border-slate-200 container mx-auto rounded-b-xl h-[100px] bg-white shadow-xs flex items-center">
    <ul class="grid grid-cols-12 w-full items-center">
        <li class="col-span-2 flex justify-center items-center overflow-hidden">
            <a class="text-4xl font-changa font-bold text-orange-500 flex items-baseline leading-none" routerLink="/home" >
                <span class="text-6xl leading-none inline-block">S</span>kill
                <span class="text-sky-500"><span class="text-5xl leading-none inline-block">S</span>wap</span>
            </a>
        </li>
        <li class="col-span-8 flex justify-center pt-2 font-rubik">
            <span class="mx-6 link text-lg"><a routerLink="/adverts" routerLinkActive="active-link">Adverts</a></span>
            <span class="mx-6 link text-lg"><a routerLink="/whoami" routerLinkActive="active-link">About Me</a></span>
        </li>
        <li class="col-span-2 flex justify-center items-end me-2 font-rubik">
            <a class="rounded-lg auth-link px-2 mx-1" routerLink="/login" routerLinkActive="active-auth-link">Login</a>
            <a class="rounded-lg auth-link px-2 mx-1" routerLink="/register" routerLinkActive="active-auth-link">Register</a>
        </li>
    </ul>
</nav>