<div class="overflow-hidden my-12">
    <div class="flex pill-animate">
        @for (skill of skills(); track $index) {
        <app-skill-pill colorScheme="orange" text="{{skill.name}}" />
        }
        @for (skill of skills(); track $index) {
        <app-skill-pill colorScheme="orange" text="{{skill.name}}" />
        }

    </div>
    <div class="mt-3 flex pill-reverse-animate">
        @for (skill of skills(); track $index) {
        <app-skill-pill colorScheme="sky" text="{{skill.name}}" />
        }
        @for (skill of skills(); track $index) {
        <app-skill-pill colorScheme="sky" text="{{skill.name}}" />
        }
    </div>
</div>