<div class="border border-gray-200 w-[250px] max-w-[250px] h-[300px] 
    max-h-[300px] rounded-md shadow-sm bg-white absolute top-10 left-0 
    right-20 overflow-hidden z-50">
    <div class="h-[25%] flex items-center justify-center">
        <p class="font-bold text-gray-700 font-changa text-4xl">Login !</p>
    </div>
    <div class="h-[70%]">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitHandler()" class="h-[100%] px-4">

            <div class="h-[33%]">
                <label for="email" class="text-gray-700 text-sm font-bold">E-Mail *
                    @if (loginForm.controls.email.touched && loginForm.controls.email.invalid) {
                    <small class="text-xs text-red-600">Invalid</small>
                    }
                </label>
                <input class="miniInputs" id="email" placeholder="someone@mail.com" formControlName="email">

            </div>
            <div class="h-[33%]">
                <label for="password" class="text-gray-700 text-sm font-bold">Password *
                    @if (loginForm.controls.password.touched && loginForm.controls.password.invalid ) {
                    <small class="text-xs text-red-600">Required</small>
                    }</label>
                <input class="miniInputs" id="password" type="password" placeholder="some password"
                    formControlName="password">

            </div>
            <div class="h-[33%] flex justify-center items-center">
                <button type="submit" class="subButton font-rubik ">Start
                    Swapping</button>
            </div>
        </form>
    </div>
</div>