<div class="border border-gray-300 h-[200px] max-h-[200px] shadow-sm bg-whitecard grid grid-cols-12">
    <div class="col-span-2 p-6">
        <div class="border size-full border-gray-300"></div>
    </div>
    <div class="col-span-8 p-6">
        <div class="h-[30%] text-start">
            <p class="text-gray-700 font-medium text-xl font-rubik">
                {{data()?.skill?.name}}
            </p>
        </div>
        <div class="h-[40%] text-start max-w-[35%]">
            <p class="text-lg text-gray-600 font-rubik">
                {{data()?.skill?.description}}
            </p>
        </div>
        <div class="h-[30%] flex items-end text-start">
            <p class="text-sky-600  font-semibold">
                {{data()?.user?.name}}
            </p>
        </div>
    </div>
    <div class="col-span-2 p-6">
        <div class="h-[30%]">
        </div>
        <div class="h-[40%]">
        </div>
        <div class="h-[30%] flex items-center justify-end">
            <app-clickable-component [properties]="{type:'button',text:'Offer ➜', colorScheme:'emerald'}" />
        </div>
    </div>
    <!-- {{data()?.id}} -->
</div>