<div class="border border-gray-200 h-[200px] max-h-[200px] rounded-md shadow-sm bg-white card">
    <div class="size-full container font-rubik">
        <div class="h-[20%] flex items-center justify-between px-3">
            <p class="text-gray-700 font-medium">
                {{data()?.skill?.name}}
            </p>
        </div>
        <div class="h-[65%] flex items-center p-3 justify-center border-y border-slate-200">
            <p class="text-sm text-gray-600 text-center">
                {{data()?.skill?.description}}
            </p>
        </div>
        <div class="h-[15%] flex items-center ps-2 pe-1 py-1 justify-between">
            <p class="text-sky-500 text-sm">
                {{data()?.user?.name}}
            </p>
            <app-clickable-component
                [properties]="{type:'button',text:'Offer!', colorScheme:'emerald', btnFn:()=>alert()}" />

        </div>
    </div>
    <!-- {{data()?.id}} -->
</div>