 <div class="relative w-full h-full overflow-hidden max-h-[300px] max-w-full rounded-lg shadow-sm bg-white border border-gray-200">
  <table class="w-full text-left table-auto min-w-max">
    <thead>
      <tr class="font-rubik text-white text-sm border-b border-slate-200 bg-orange-500">
        <th class="p-4">
          <p class="block font-normal">Title</p>
        </th>
        <th class="p-4">
          <p class="block font-normal">Description</p>
        </th>
        <th class="p-4">
          <p class="block font-normal">User</p>
        </th>
        <th class="p-4">
          <p class="block font-normal">Rating</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="hover:bg-slate-50 text-sm text-slate-600 font-rubik cursor-pointer">
        <td class="p-4">
          <p class="block">C# Dersleri</p>
        </td>
        <td class="p-4">
          <p class="block">C# üzerine eğitim verebilirim</p>
        </td>
        <td class="p-4 text-sky-500" >
          <p class="block ">Berk A.</p>
        </td>
        <td class="p-4 text-orange-500">
          <p class="block ">5 ★</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
 