<div class="relative w-full h-full overflow-hidden max-h-[300px] max-w-full shadow-sm bg-white border border-gray-200">
  <table class="w-full text-left table-auto min-w-max">
    <thead>
      <tr class="font-rubik text-gray-700 text-sm border-b border-gray-200">
        <th class="p-4">
          <p class="block font-normal">Title</p>
        </th>
        <th class="p-4">
          <p class="block font-normal">Description</p>
        </th>
        <th class="p-4">
          <p class="block font-normal">User</p>
        </th>
        <th class="p-4">
          <p class="block font-normal">Status</p>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (advert of data(); track advert.id) {
      <tr class="hover:bg-gray-50 text-sm text-gray-600 font-rubik cursor-pointer">
        <td class="p-4">
          <p class="block">{{ advert.skill.name }}</p>
        </td>
        <td class="p-4">
          <p class="block">{{ advert.skill.description }}</p>
        </td>
        <td class="p-4 text-sky-500">
          <p class="block ">{{ advert.user.name }}</p>
        </td>
        <td class="p-4">
          <p class="block">{{ advert.status }}</p>
      </tr>
      }
    </tbody>
  </table>
</div>